body {
  background-color: rgb(1, 0, 32); 
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

/* Splash */
.jumbotron {
  background-image: url('images/kai-pilger-Ef6iL87-vOA-unsplash.jpg');
  background-size: 100% auto;
  background-repeat:repeat;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}

.music {
  background-color: transparent;
  border: none;
  width: 5px;
  height: 5px;
  display: flex;
  align-self: right;
  margin-top: 0px;
  padding-top: 50px;
}

.splashScreen {
  background-image: url('images/kai-pilger-Ef6iL87-vOA-unsplash.jpg');
  background-size: 100% auto;
  background-repeat: repeat;
  height: 100%;
}

.mainSplash {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
  
}

.display-4 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #27c208;
  text-shadow: -5px 2px 2px #db00b3;
  padding-bottom: 0px;
}

.keyHead {
  font-size: 25px;
  margin-bottom: 30px;
}

.keys {
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin-bottom: 0px;
}

.lead {
  padding: 20px;
  font-size: 14px;
  line-height: 25px;
}

#start-btn {
  margin: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  font-size: 50px;
}

.frogLY {
  width: 20%;
  height: 20%;
  border: 5px solid #dc3545;
  margin: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


/* Game */
.gamescreen {
  height: 100%;
}

.score-lives {
  padding-top: 50px;
}

.lives {
  width: 28px;
  height: auto;
}

.canvas-container {
  margin: 20px;
  margin-bottom: 0px;
}

#go-btn {
  margin-bottom: 0px;
}


/* GameOver */
.win-lose-text{
  padding-top: 50px;
}

.background-gameover {
  background-image: url('images/kai-pilger-Ef6iL87-vOA-unsplash.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  height: 100%;
}

.subtitle {
  margin-top:10px;
}

#restart-btn {
  margin-top: 20px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  font-size: 40px;
}

.honor {
  margin-top: 30px;
  font-size: 14px;
}

.mention {
  font-size: 10px;
  padding-bottom: 0px;
}

.win-lose-text {
  font-size: 40px;
  color: #27c208;
  text-shadow: -5px 2px 2px #db00b3;
}

.highscores {
  list-style-position: inside;
  padding-left: 0px;
}

.score-title {
  padding-top: 15px;
  font-size: 20px;
}