/* GameOver */
.win-lose-text {
    padding-top: 40px;
}

.subtitle {
    margin-top: 10px;
}

#restart-btn {
    margin-top: 20px;
    border-radius: 50%;
    height: 18vw;
    width: 18vw;
    font-size: 2.5vw;
}

.honor {
    margin-top: 30px;
    font-size: 14px;
}

.mention {
    font-size: 10px;
    padding-bottom: 0px;
}

.win-lose-text {
    font-size: 40px;
    color: #27c208;
    text-shadow: -5px 2px 2px #db00b3;
}

.highscores {
    list-style-position: inside;
    padding-left: 0px;
    font-size: 15px;
}

.score-title {
    padding-top: 15px;
    font-size: 20px;
}

.scoreLi1 {
    color: #27c208;
    text-shadow: -2px 1px 1px #db00b3;
    font-size: 19px;
}
